body
{
  background-color: rgb(34, 34, 53);
}
main
{
  background-color: beige;
  max-width: 800px;
  padding: 10px;
  margin: auto;
  min-height: 100vh;
}
input,select
{
  display: block;
  margin-bottom: 20px;
}
.nav,canvas
{
  background-color: rgb(248, 248, 248);
}